@import "../../layout/variables";

@mixin mobile {
  @media (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

.bookform-container {
  display: flex;
  flex-direction: row;
  margin-top: $nav-height;
  min-height: calc(100vh - #{$footer-height} * 2);
  width: 100vw;
  position: relative;

  @include mobile {
  }

  #{&}__pselect {
    text-align: center;
    left: 0;
    right: 0;
    bottom: 100px;

    span {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: inline-block;
      border: 5px solid map-get($colors, main);
      margin: 10px;
      cursor: pointer;
      box-shadow: 0 19px 38px map-get($colors, main),
        0 15px 12px map-get($colors, black);
    }
    span:hover {
      background-color: map-get($colors, main);
    }
    .filled {
      background-color: map-get($colors, main);
      box-shadow: 0 12px 30px map-get($colors, sky),
        0 8px 5px map-get($colors, sky);
    }
  }

  #{&}__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  #{&}__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
}
