
@import "../../layout/variables";

.useridinfo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: $nav-height;
  left: 0;
  right: 0;
  bottom: $footer-height;

  #{&}__text{
    color: white;
  }
}