@import "../../layout/_variables";

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 10px solid white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  #{&}__content {
    color: map-get($colors, mainText);
    font-weight: 200;
    font-size: 50px;
    animation: fadeOut 1.5s linear;
    opacity: 0;
  }

  @keyframes fadeOut {
    0% {
      opacity: 0.25;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
