@import "../../../layout/variables";

.hero-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  #{&}__element {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #{&}__desc {
    h1 {
      color: map-get($colors, mainText);
    }
  }

  #{&}__details {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    div{
      margin-left: 10px;

    }
  }
  #{&}__button {
    // background-color: map-get($colors, white);
    background-color: map-get($colors, mainText);
    color: map-get($colors, main);
    // color: orange;
    font-weight: bolder;
    height: 50px;
    width: 200px;
    // margin-top: 24px;
    border-radius: 30px;
    cursor: pointer;
    min-width: 75px;
    // position: absolute;
  }

  #{&}__image {
    height: 400px;
    opacity: 0;
    animation-delay: 1s;
    -webkit-animation: fadeIn 8s linear forwards;
    animation: fadeIn 8s linear forwards;
  }
  @media (max-width: 48em) {
    flex-direction: column;
    align-items: center;
    #{&}__desc {
      > p {
        display: none;
      }
    }
    #{&}__button {
      margin-top: 45px;
    }
  }
}
