@import "../../../layout/variables";

.hero-container {
  // position: relative;
  display: flex;
  min-height: 85vh;
  justify-content: center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), black),
    url("../../../assets/pic2.jpeg");

  h1 {
    color: white;
  }

  #{&}__desc {
    color: white;
  }

  #{&}__content {
    // border: 1px solid pink;
    // min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #{&}__button {
    background-color: map-get($colors, white);
    border: 2px solid map-get($colors, white);
    color: map-get($colors, black);
    font-weight: bolder;
    height: 4vh;
    margin-top: 24px;
    border-radius: 20px;
    cursor: pointer;
    min-width: 75px;
  }

  @media (max-width: 48em) {
    #{&}__content {
      color: white;
      padding: 22px;
      // border: 4px solid white;
      align-items: center;
      justify-content: center;
    }
  }
}
