.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .about-inner {
    padding: 5vw;
    padding-top: 12vh;
    border-style: solid;
  }
}