@import "../../layout/variables";

.appointmentDate-container{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  // border: 1px solid white;


  input:nth-child(2){
    margin-top: 10px;
  }

  #{&}__button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid map-get($colors, white);
    color: map-get($colors, black);
    cursor: pointer;
  }

  .aDdisabled {
    border: 2px solid map-get($colors, black);
    color: map-get($colors, black);
    cursor: default;
  }

  // border: 7px solid green;
}