@import "../../layout/variables";

.cutform-container {
  display: flex;
  flex-direction: column;
  // border: 1px solid pink;

  #{&}__pselect {
    margin-top: 77px;
    text-align: center;

    span {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      display: inline-block;
      border: 5px solid map-get($colors, lightBlack);
      margin: 10px;
      cursor: pointer;
      box-shadow: 0 19px 38px map-get($colors, black),
        0 15px 12px map-get($colors, black);
    }
    span:hover {
      background-color: map-get($colors, black);
    }
    .filled {
      background-color: map-get($colors, lightBlack);
      box-shadow: 0 12px 30px map-get($colors, white),
        0 8px 5px map-get($colors, white);
    }
  }

  #{&}__form {
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    // border: 5px solid violet;
  }

  #{&}__form-group {
    display: flex;
    flex-direction: row;
    // border: 5px solid yellow;
    position: relative;
  }

  #{&}__form-group-item {
    display: flex;
    flex-direction: column;
// border: 10px solid yellow;
    padding: 18px;
  }

  #{&}__button {
    background-color: map-get($colors, lightBlack);
    border: 2px solid map-get($colors, white);
    color: map-get($colors, white);
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 50px;

    height: 4vh;
    margin-top: 24px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 75px;
  }

  .cFdisabled {
    border: 2px solid map-get($colors, black);
    color: map-get($colors, black);
    cursor: default;
  }

  @media (max-width: 48em) {
    #{&}__form-group  {
      flex-direction: column;
      // width: 100%;
      // height: 100%;
    }
  }


}


