.locationSelect-container {
  align-items: flex-start;
  // justify-content: center;
  flex-direction: column;
  // border: 1px solid white;


  input{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}