@import "../../layout/variables";

@import "../../layout/variables";

.rsc-container {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  padding: 25px;
  color: map-get($colors, mainText);
  // border: 1px solid white;
  #{&}__item {
    padding: 8px;
  }

  #{&}__property {
    // color: map-get($colors, gold);
    color: map-get($colors, sky);
    font-weight: bold;
  }

  #{&}__button-container {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #{&}__button {
    // background-color: map-get($colors, lightBlack);
    // border: 2px solid map-get($colors, white);
    color: map-get($colors, white);
    height: 4vh;
    margin-top: 24px;
    border-radius: 8px;
    cursor: pointer;
    // padding: 5px;
    min-width: 75px;
  }

  #{&}__successmsg {
    color: map-get($colors, white);
  }



  .disabled {
    // background-color: map-get($colors, lightBlack);

    border: 2px solid map-get($colors, black);
    color: map-get($colors, black);
    cursor: default;
    // height: 4vh;
    // margin-top: 24px;
    // border-radius: 8px;
    // // padding: 5px;
    // min-width: 75px;

  }
}
