

.home-parent-container {
  // padding: vh;
  // border-style: solid;
  // border-color: white;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-auto-rows: 40vh 40vh;

  div {
    // color: purple;
    border: 1px solid gray;
    // border-color: $borderColor;
    &:hover{
      background: lightgray;
    }
  }
}
