@import "../../layout/_variables";

.contact-container {
  // padding-top: 100px;
  position: absolute;
  top: $nav-height;
  right: 0;
  left: 0;
  bottom: $footer-height;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  // justify-content: center;
  align-items: center;
  * {
    color: white;
  }
  #{&}__row {
    // border-style: solid;
    color: map-get($colors, white);
  }

  #{&}__row-item{
    // border: 1px solid white;
    margin: 10px;
    a{
      text-decoration: none;

    }
  }
}