@import "../../layout/_variables";

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .contact-inner {
    padding: 5vw;
    padding-top: 12vh;
    // border-style: solid;
    color: map-get($colors, white);
  }
}