@import "../../layout/_variables.scss";
.cutselect-datarow {
  color: map-get($colors, white);
  display: table-row;



  #{&}__td {
    display: table-cell;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: map-get($font-weights, medium);
    font-size: 10px;
    color: map-get($colors, white);
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  }
}
.selected {
  background-color: map-get($colors, offGrey);
  color: map-get($colors, black);
}
.cutselect-datarow:hover {
  cursor: pointer;
  background-color: map-get($colors, offGrey);
  color: map-get($colors, black);
}

@media (max-width: 48em) {

}
