@import "../../layout/_variables.scss";
$color: #3694d7;
$timing: 0.3s;
@mixin mobile {
  @media (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

.cutselect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // position: absolute;
  // top: $bfce-top;
  width: 100%;
  // margin-top: 25px;
  // border: 1px solid black;
  height: 100%;
  overflow: auto;

  #{&}__header {
    // position: relative;
    color: map-get($colors, mainText);
    font-size: $title-font-size;
  }
}

.cutselect-table {

  // border: 1px solid purple;
  display: table;
  // padding: 10px;

  #{&}__head {
    display: table-cell;
    // padding: 3px 10px;
    color: map-get($colors, mainText);
  }

  #{&}__body {
    // overflow-y: auto;

    &::-webkit-scrollbar {
      // width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: map-get($colors, black);
      border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #b30000;
    }
  }

  #{&}__row {
    display: table-row;
  }
}

@media (max-width: 48em) {
  // .cutselect-container{

  // }
}

@include mobile {
}

// change span with expanded on click
