@import "../../layout/variables";

.rs-container {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  font-size: 10pt;
  // box-shadow: $box-shadow;
  padding: 25px;
  // position: absolute;
  // top: $bfce-top;
  color: map-get($colors, mainText);

  h3 {
    font-size: $title-font-size;
  }
  #{&}__item {
    padding: 8px;
  }

  #{&}__property {
    color: map-get($colors, mainText);
    font-weight: bold;
  }

  #{&}__button-container {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #{&}__button {
    background-color: map-get($colors, main);
    border: 2px solid map-get($colors, mainText);
    color: map-get($colors, mainText);
    height: 4vh;
    margin-top: 24px;
    border-radius: 12px;
    cursor: pointer;
    min-width: 75px;
  }

  #{&}__successmsg {
    color: map-get($colors, white);
  }



  .disabled {
    border: 2px solid map-get($colors, offGrey);
    color: map-get($colors, offGrey);
    cursor: default;
  }
}
