@import "../../layout/variables";

@mixin mobile {
  @media (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

.service-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: $nav-height;
  border-radius: $border-radius;
  background-color: $background-color;
  box-shadow: $box-shadow;
  padding-top: 25px;
  padding-bottom: 25px;

  h3 {
    color: map-get($colors, white);
  }

  #{&}__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: map-get($colors, white);
    width: 350px;
  }

  #{&}__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
    width: 50px;
    font-size: 12px;
  }

  #{&}__details {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
    width: 100px;
  }

  #{&}__button {
    cursor: pointer;
    display: inline-block;
    padding: 0.25em;
  }
}
