@import "../../layout/variables";

@mixin mobile {
  @media (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

.service-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  // flex-shrink: 2;
  height: auto;
  background-color: white;
  box-shadow: 0 19px 38px map-get($colors, ocean),
    0 15px 12px map-get($colors, ocean);
  padding-top: 25px;
  padding-bottom: 25px;
  // margin-left: 25px;
  // margin-right: 25px;

  #{&}__item {
    display: flex;
    flex-direction: row;
    min-width: 45vw;
    // border: 1px solid pink;
  }

  #{&}__label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    text-align: right;
    width: 50px;
    font-size: 12px;
    // flex: 2;
  }

  #{&}__details {
    display: flex;
    align-items: center;
    // border: 1px solid orange;
    justify-content: center;

    font-size: 11px;
    width: 50vw;
  }

  h3 {
    color: map-get($colors, ocean);
  }
  #{&}__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    cursor: pointer;      
    // background-color: map-get($colors, sky);
    display: inline-block;
    padding: 0.25em;
    // flex: 1;

  }
}
