@import "../../layout/variables";

.footer-container {
  display: flex;
  position: absolute;
  // left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  // bottom: 1%;
  flex-direction: column;
  font-size: 0.7rem;

  #{&}__banner {

  }
}