@import "../../../layout/_variables.scss";
$color: #3694d7;
$timing: 0.3s;
@mixin mobile {
  @media (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

.appointmentlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  overflow: auto;
  padding-top: 28px;
  margin-top: 25px;


  h1 {
    color: map-get($colors, white);
    font-size: 25.6px;
    padding-bottom: 10px;
  }
}

.appointmentlist-container {
  height: 34vh;

  &::-webkit-scrollbar {
    width: 20px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px red;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: map-get($colors, black);
    border-radius: 10px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}

.bookinglist-table-container__buttoncontainer{
  margin: 22px;

}

.appointmentlist-table {
  display: table;

  #{&}__head {
    display: table-cell;
    padding: 3px 10px;
    color: map-get($colors, white);
  }

  #{&}__row {
    display: table-row;
  }
}

@media (max-width: 48em) {
  // .cutselect-table {
  //   width: 65%;
  // }

  // .cutselect-container{
  //   width: 75%;

  // }
}
