@import "../../layout/_variables";

.login-container {
  // border-style: solid;
  // border-color: green;
  position: absolute;
  // margin-left: auto;
  // margin-right: auto;
  left: 0;
  right: 0;
  bottom: 67px;
  top: 67px;
  text-align: center;
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid white;
}

.login-error {
  color: red;
  font-size: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  align-self: center;
  // border: 1px solid yellow;
  border-radius: 25px;
  background-color: map-get($colors, lightBlack);
  box-shadow: 0 19px 38px map-get($colors, black),
    0 15px 12px map-get($colors, black);
  // margin: 10em;
  // padding: 10em;
  // width: 50%;

  #{&}__textbox {
    // border: 1px solid pink;
    border-bottom: 1px solid map-get($colors, offGrey);
    width: 100%;
    // position: relative;
    // margin: 15px 0;
  }
  #{&}__inpt {
    border: none;
    width: 100%;
    font-size: 10px;
    outline: none;
    background: none;
    margin-top: 24px;
    // height: 40px;
    box-sizing: border-box;
    color: map-get($colors, white);
  }

  #{&}__inpt::placeholder {
    color: map-get($colors, white);
  }

  // #{&}__input:focus{
  //   color: map-get($colors, white);
  // }
  #{&}__logbtn {
    background-color: map-get($colors, lightBlack);
    border: 2px solid map-get($colors, white);
    color: map-get($colors, white);
    height: 4vh;
    margin-top: 24px;
    border-radius: 8px;
    cursor: pointer;
    // padding: 5px;
    min-width: 75px;
  }
  h3 {
    color: map-get($colors, white);
  }
}
