
.login-container {
  border-style: solid;
  border-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  .login-inner {
    border-style: solid;
    border-radius: 25px;
    // border-color: purple;
    // margin: 10em;
    // padding: 10em;
    border-style: solid;
    width: 50%;
  }

  
}


.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vw;
  #{&}__textbox{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 15px 0;
  }
  #{&}__inptpswd {
    border: none;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
    box-sizing: border-box;
  }
  button {
    min-width: 75px;
  }


}