@import "./layout/_variables.scss";


.main-container {
  display:flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-bottom: 150px;
  animation: fadeIn 1s linear;
  // height: auto;
  // overflow: auto;
  // border: 10px solid pink;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 48em) {
  table {
    // display: inline;
    width: 87%;
  }
  thead {
    width: 80%;
  }

  tbody {
    width: 75%;
  }

  tr {
    width: 75%;
  }

  td {
    width: 65%;
  }
}
