.main-container{
  position: relative;
  // border: solid 1px pink;
  min-height: 100vh;
  padding-bottom: 150px;
}

@media (max-width: 48em) {

  table {
    // display: inline;
    width: 87%;
  }
  thead {
    width: 80%;
  }

  tbody {
    width: 75%;
  }

  tr {
    width: 75%;
  }

  td {
    width: 65%;
  }
  // .cutlist-datarow {
  //   width: 56%;
  // }
  // .cutlist-datarow__td {
  //   width: 56%;
  // }

}